<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <!-- Modify this value to point to your Journal save path -->
    <add key="EliteDangerousJournalPath" value="C:\\Users\\Smurph\\Saved Games\\Frontier Developments\\Elite Dangerous\\"/>
  </appSettings>
</configuration>